<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>템플릿, 디렉티브 — Vue</title>
  <link rel="stylesheet" href="css/vue.css">
</head>
<body class="container">

  <!-- 지금까지 공부한 Vue 디렉티브 목록 -->
  <!--
    v-text
    v-html
    v-pre
    v-cloak
    v-once
  -->

  <div id="app" v-cloak>

    <header v-pre>
      <!-- ... 컴파일 무시 ... -->
    </header>

    <!-- interpolation + html string -->
    <h1 v-once>{{ message }} <span class="emotion-smile">{{emotion}}</span></h1>


    <article class="wrapper">

      <!-- directive: v-text => only text -->
      <h1
        class="article-title is-1"
        v-text="'hahaha ' + message"></h1>

      <!-- directive: v-html => only html -->
      <div
        class="content-container"
        v-html="html_string"></div>

    </article>

    <div
      v-if="is_visible"
      class="wrapper secondary"
      v-html="content_container"></div>

    <!--v-if, v-else 예제-->
    <div class="wrapper">
      <strong v-show="is_show">Vue.js 장점: {{vue_prop.length}} 개</strong>
      <!--<strong v-text="'Vue.js 장점: ' + vue_prop.length + '개'"></strong>-->
      <p v-if="vue_prop.length > 1">Vue.js 장점의 개수는 {{ vue_prop.length }} 입니다.</p>
      <p v-else-if="vue_prop.length === 1">Vue.js 정말... 장점을 없앨 겁니까?</p>
      <p v-else>Oops... Vue.js의 장점은 없습니다. ㅠㅡㅠ</p>
    </div>

  </div>

<script src="./js/data.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="js/vue.template-directives.js"></script>
</body>
</html>
