<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>리스트 렌더링 — Vue</title>
  <link rel="stylesheet" href="css/vue.css">
</head>
<body>

  <div class="demo list-rendering" v-cloak>
    <h1 class="demo-title">{{ class_name }}</h1>
    <ul class="demo-classmate-list">
      <template v-for="item of fdc">
        <li>{{item.name}}</li>
        <li>{{item.age}}</li>
        <li>{{item.minor}}</li>
        <li><span>------------------</span></li>
      </template>
    </ul>

        <!-- 디렉티브를 사용한 조건부 렌더링 -->
        <!-- 10보다 작은 인덱스의 경우는 인덱스 앞에 숫자 '0'을 붙여라. -->
        <!-- 표현식을 사용한 조건 처리 -->
    <!--<li class="classmate-item" v-for="(member, index) in fdc" v-if="index % 2 === 0">
        <span class="classmate-index">No. {{ ++index < 10 ? '0'+index : index }}</span>
        <h3 class="classmate-name">이름: {{member.name}}</h3>
        <span class="classmate-age">나이: {{member.age}}</span>
        <p v-if="member.school" class="classmate-school">학교: {{ member.school.name }}</p>
        <p class="classmate-major">전공: {{ member.major ? member.major : '없음' }}</p>
      </li>-->

    <hr>

    <!-- 데이터 순환 후, 표 동적 구성 -->

  </div>

<script src="./js/data.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="js/vue.list.rendering.js"></script>
</body>
</html>
