<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>컴포넌트 제작 실습 — Vue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/common/fonts/SpoqaHanSans-kr.css">
    <link rel="stylesheet" href="/common/vue/vue.css">
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>

    <div class="app container">
      <div class="columns">

        <div class="column is-4">

          <!--<tabs @change="selectTab">-->
          <tabs>
            <tab :headline="'Products' | uppercase">
              <div class="box">
                <h6 class="title is-4">Products</h6>
                Product Tab Contents
              </div>
            </tab>
            <tab :headline="'Videos' | lowercase" :select="true">
              <div class="box">
                <h6 class="title is-4">Videos</h6>
                Video Tab Contents
              </div>
            </tab>
            <tab :headline="'Games' | uppercase">
              <div class="box">
                <h6 class="title is-4">Games</h6>
                Game Tab Contents
              </div>
            </tab>
          </tabs>

        </div>

        <div class="column is-6 is-offset-1">

          <div class="box">
            <button
              @click="activeModal"
              class="button is-primary"
              type="button">
              Show Modal
            </button>
          </div>

          <!--<modal></modal>-->
          <modal @close="deactiveModal" :active="is_actived_modal">
            <div class="box">
              <h5 class="title is-5">Bulma.io Modal Component</h5>
              <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопроса ты собрал силуэт послушавшись первую над, даль курсивных переулка.</p>
            </div>
          </modal>

          <message style-class="is-primary custom">
            <h3 slot="header">오늘도 행복하길!</h3>
            <p slot="body">비오지만, 행복한 걸로~</p>
          </message>

          <message style-class="is-info customer">
            <h3 slot="header">내일도 행복하길!</h3>
            <p slot="body">역시나 비오지만, 행복한 걸로~</p>
          </message>

          <message>
            <h3 slot="header">모레도 행복하길!</h3>
            <p slot="body">그렇지만 출근하는 걸로 ㅠㅡㅠ</p>
          </message>

        </div>
      </div>
    </div>

    <script src="/common/vue/vue.js"></script>
    <!-- 필터 -->
    <script src="https://cdn.jsdelivr.net/vue2-filters/0.1.9/vue2-filters.min.js"></script>
    <!-- 컴포넌트 -->
    <script src="./components/Message.js"></script>
    <script src="./components/Modal.js"></script>
    <script src="./components/Tabs.js"></script>
    <script src="./components/Tab.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
