<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>계산된 속성을 사용한 "순간 검색" 리스트 렌더링 — Vue</title>
  <link rel="stylesheet" href="../../common/fonts/SpoqaHanSans-kr.css">
  <link rel="stylesheet" href="../../common/vue/vue.css">
  <script src="../../common/DB/people.js"></script>
  <script src="../../common/vue/vue.js"></script>
</head>
<body>

  <div class="demo container">
    <h1>리스트 렌더링, computed 속성을 사용해서 리스트 필터링 후에 렌더링</h1>
    <form class="field">
      <label for="search" class="a11y-hidden">검색</label>
      <input
        id="search"
        v-model="search_query"
        type="search"
        placeholder="홍길동">
    </form>
    <ul class="people-list">
      <li
        v-for="person in people"
        class="list-item">
        {{ personName(person) }}
      </li>
    </ul>
  </div>

<script src="js/vue.computed.js"></script>
</body>
</html>
