/*! vue.css © yamoo9.net, 2017 */
[v-cloak] { display: none; }

html {
  overflow-y: visible;
  /* font-size: 10px; */
}

body {
  margin: 0;
  font-family: "Spoqa Han Sans", Dotum, sans-serif;
  /* font-size: 1.4rem; */
  font-size: 87.5%;
  line-height: 1.5;
  letter-spacing: -0.045em;
  color: #323232;
}

.wrapper {
  width: 80%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip:     rect(0 0 0 0); /* IE 6,7 */
  clip:     rect(0,0,0,0);
  width:    1px;
  height:   1px;
  margin:   -1px;
  border:   0;
  padding:  0;
}
.a11y-hidden.focusable:focus {
  overflow: visible;
  position: static;
  clip:     auto;
  width:    auto;
  height:   auto;
  margin:   0;
}
caption.a11y-hidden {
  position: static;
}

/* Bulma <select> 확장 */
.select {
  height: auto;
  min-height: 2.25em;
}
.select:after {
  top: 1.15em;
}
.select select[multiple] {
    all: initial;
    font: inherit;
    cursor: pointer;
    display: block;
    overflow-y: auto;
    outline: none;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    padding: 0.5em 2.5em 0.5em 0.625em;
    background-color: white;
    color: #363636;
}
.select select[multiple]:active, .select select[multiple]:focus {
    border-color: #00d1b2;
}