/*! vue-filter-sort-table.css @ 2017, yamoo9.net */

.headline {
  letter-spacing: -0.03em;
  line-height: 1;
}

.is-1 {
  font-weight: 100;
}

/* -----------------------------------------------------------------------------
 * 폼
 */
.form {
  border-bottom: 1px solid #eee;
  padding: 2rem 0;
  background-color: hsla(0, 0%, 100%, 0.52);
  margin-bottom: 2rem;
}
.form.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  -webkit-backdrop-filter: blur(0.16rem);
  backdrop-filter: blur(0.16rem);
}

.label {
  margin-right: 1rem;
  font-size: inherit;
}

.input {
  width: 100%;
  border-radius: 0.4rem;
  border: 2px solid hsla(173.9, 62.1%, 49.6%, 0.7);
  padding: 0.7rem 1.4rem;
  font-size: inherit;
  color: #20a597;
  transition: all 0.4s;
}
.input:hover {
  border-color: #30cdbd;
}
.input:focus {
  outline: none;
  border-color: #20a597;
}
.input::placeholder {
  color: #30cdbd;
}

/* -----------------------------------------------------------------------------
 * 표
 */
.table {
  border: 0.2rem solid #30cdbd;
  border-radius: 0.3rem;
  background-color: #fff;
}

/* -----------------------------------------------------------------------------
 * 표 제목 셀
 */
.table th,
.table td {
  min-width: 15rem;
  padding: 0.6rem 1.2rem;
}

.table th {
  text-align: left;
  font-weight: 400;
  background-color: #30cdbd;
  color: #fff;
}
.table th.active {
  color: #fff;
}

/* -----------------------------------------------------------------------------
 * 표 내용 셀
 */

.table tr {
  background-color: #f9f9f9;
}
.table tr:hover {
  background-color: #ededed;
}

/* -----------------------------------------------------------------------------
 * 표 버튼
 */
.table .button {
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0 0.7rem 0 0;
  font-size: 1.4rem;
  text-align: left;
  background-color: transparent;
  color: inherit;
}
.table .button:focus {
  /*outline: none;*/
  color: #fff;
}

/* -----------------------------------------------------------------------------
 * 표 아이콘
 */
.table .arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.table th.active .arrow {
  opacity: 1;
}

.table .arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.table .arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
