<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vue 반응형 시스템 확인 — Vue</title>
  <link rel="stylesheet" href="css/vue.css">
</head>
<body>

  <div class="demo" v-cloak>

    <h2>v-model 디렉티브 사례</h2>
    <input
      type="text"
      v-model="user_input">
    <p>{{ user_input }}</p>

    <h2>v-on, v-bind 디렉티브 사례(한글, 중문, 일문)</h2>
    <input
      type="text"
      v-on:input="instantIMEInput"
      v-bind:value="user_input">
    <p>{{ user_input }}</p>

    <ul class="demo-eco-system">
      <li v-for="item in eco_system">
        <a href v-on:click.prevent="changeColor($event)">{{item}}</a>
      </li>
    </ul>

  </div>


<script src="https://unpkg.com/vue"></script>
<script src="js/vue.reactivity.js"></script>
</body>
</html>
