<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> — Vue</title>
  <link rel="stylesheet" href="css/vue.css">
</head>
<body>

  <div class="search">
    <input type="text" class="query" v-model="query">
    <ul>
      <li v-for="data in fiteredDataset">
        {{data}}
      </li>
    </ul>
  </div>


<script src="https://unpkg.com/vue"></script>
<script>
  new Vue({
    el: '.search',
    data: {
      query: '',
      dataset: [
        'a', 'c', 'j', 'k'
      ]
    },
    computed: {
      fiteredDataset: function(){
        return this.dataset.filter(function(item, index){
          return item.indexOf(this.query) > -1;
        }, this);
      }
    }
  })
</script>

</body>
</html>
