<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ToDoList App — Vue</title>
  <link rel="stylesheet" href="../../common/fonts/SpoqaHanSans-kr.css">
  <link rel="stylesheet" href="../../common/vue/vue.css">
  <link rel="stylesheet" href="css/vue.todolist.css">
</head>
<body>

  <div class="demo-todolist container">
    <!--폼필드 (인풋, 버튼)-->
    <div class="form-field">
      <label class="a11y-hidden" for="add-list-item">새로운 할 일</label>
      <input @keyup.enter="addTodoItem" v-model="todo" type="text" class="input" id="add-list-item" placeholder="e.g) 치아 미백">
      <button @click="addTodoItem" type="button" class="button is-add-list-item">등록</button>
    </div>
    <hr>
    <!--리스트 영역 (데이터 순환 렌더링: 체크박스, 레이블)-->
    <div class="list-zone">
      <div class="zone-half">
        <h2 class="list-todo headline">할 일 목록</h2>
        <ul class="todolist">
          <li class="todo-item" v-for="item of doList" v-if="!item.complete">
            <label :style="changeLabelState(item)">
              <input type="checkbox" v-model="item.complete"> {{ item.desc }}
            </label>
          </li>
        </ul>
      </div>
      <div class="zone-half">
        <h2 class="list-todo-finished headline">수행한 일 목록</h2>
        <ul class="complete-list">
          <li v-for="item of completeList">
            <label>
              <input type="checkbox" v-model="item.complete"> {{ item.desc }}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>

<script src="../../common/vue/vue.js"></script>
<script src="js/vue.todolist.js"></script>
</body>
</html>
